{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <center><a class="btn btn-primary btn-lg" href="{% url 'addphone' %}">ثبت شماره جدید</a></center>
        <br>
        {% if all_items %}
            <div class="table-responsive">
                <table class="table table-dark table-bordered table-hover ">
                    <thead>
                            <tr>
                              <th scope="col"><center>#</center></th>
                              <th scope="col"><center>شماره موبایل</center></th>
                              <th scope="col"><center>کاشناس تلفنی</center></th>
                              <th scope="col"><center>ثبت کننده</center></th>
                              <th scope="col"><center>تاریخ</center></th>
                              <th scope="col"><center>سانس</center></th>
                              <th scope="col"><center>روز</center></th>
                              <th scope="col"><center>عملیات</center></th>

                            </tr>
                    </thead>
                    <tbody>
                    {% for items in all_items %}

                        <tr scope="row">
                          <td><center>{{ items.id }}</center></td>
                          <td><center>{{ items.user_phone }}</center></td>
                          <td><center>{{ items.invited_by }}</center></td>
                          <td><center>{{ items.added_by }}</center></td>
                          <td><center>{{ items.added_datetime }}</center></td>
                          <td><center>{{ items.for_time }}</center></td>
                          <td><center>{{ items.for_date }}</center></td>
                          <td><center>
                              <a type="button" class="btn btn-danger" href="{% url 'deletephone' items.id %}">حذف</a>
                              <a type="button" class="btn btn-secondary" href="{% url 'updatephone' items.id %}">تغییر</a>
                          </center></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
