{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                  {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
              <label for="exampleInputEmail1"><center>شماره موبایل</center></label>
            <input type="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="user_phone" value="{{ item.user_phone }}">
          </div>
          <button type="submit" class="btn btn-primary btn-lg">ثبت تغییرات</button>
          <a class="btn btn-secondary " href="{% url 'phonelist' %}">انصراف</a>
        </form>
    </div>
{% endblock %}