{% extends 'base.html' %}
{% block content %}

    <div class="container ">
        <div class="btn-toolbar pb-4 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                {% for i in '0987654321'|make_list %}
                    {% if i == view.kwargs.code %}
                        <a class="btn btn-secondary" href="{% url 'allcode_filtered' i %}">کد {{ i }}</a>
                    {% else %}
                        <a class="btn btn-info-secondary" href="{% url 'allcode_filtered' i %}">کد {{ i }}</a>
                    {% endif %}
                {% endfor %}
                <a class="btn btn-outline-primary" href="{% url 'allcode' %}">کلی</a>
            </div>
        </div>

        {% if object_list %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <center>دعوت کننده</center>
                    </th>
                    <th scope="col">
                        <center>سال</center>
                    </th>
                    <th scope="col">
                        <center>ماه</center>
                    </th>
                    <th scope="col">
                        <center>کد</center>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for detail in object_list %}
                    <tr>
                        <td>
                            <center>{{ detail.inviter }}</center>
                        </td>
                        <td>
                            <center>{{ detail.year_of_use }}</center>
                        </td>
                        <td>
                            <center>{{ detail.monthof }}</center>
                        </td>
                        <td>
                            <center>{{ detail.code }}</center>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-secondary">کدی یافت نشد</p>
        {% endif %}
    </div>
{% endblock %}