{% extends 'base.html' %}
{% block content %}

    <div class="container ">
        <div class="btn-toolbar pb-4 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a class="btn btn-outline-secondary" href="{% url 'allcode_filtered' 0 %}">کد 0</a>
                <a class="btn btn-outline-secondary" href="{% url 'allcode_filtered' 9 %}">کد 9</a>
                <a class="btn btn-outline-secondary" href="{% url 'allcode_filtered' 8 %}">کد 8</a>
                <a class="btn btn-outline-secondary" href="{% url 'allcode_filtered' 7 %}">کد 7</a>
                <a class="btn btn-outline-secondary" href="{% url 'allcode_filtered' 6 %}">کد 6</a>
                <a class="btn btn-outline-secondary" href="{% url 'allcode_filtered' 5 %}">کد 5</a>
                <a class="btn btn-outline-secondary" href="{% url 'allcode_filtered' 4 %}">کد 4</a>
                <a class="btn btn-outline-secondary" href="{% url 'allcode_filtered' 3 %}">کد 3</a>
                <a class="btn btn-outline-secondary" href="{% url 'allcode_filtered' 2 %}">کد 2</a>
                <a class="btn btn-outline-secondary" href="{% url 'allcode_filtered' 1 %}">کد 1</a>
                <a class="btn btn-outline-primary" href="{% url 'allcode' %}">کلی</a>
            </div>
        </div>

        {% if object_list %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <center>دعوت کننده</center>
                    </th>
                    <th scope="col">
                        <center>سال</center>
                    </th>
                    <th scope="col">
                        <center>ماه</center>
                    </th>
                    <th scope="col">
                        <center>کد</center>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for detail in object_list %}
                    <tr>
                        <td>
                            <center>{{ detail.inviter }}</center>
                        </td>
                        <td>
                            <center>{{ detail.year_of_use }}</center>
                        </td>
                        <td>
                            <center>{{ detail.monthof }}</center>
                        </td>
                        <td>
                            <center>{{ detail.code }}</center>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-secondary">کدی یافت نشد</p>
        {% endif %}
    </div>
{% endblock %}