{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3>کد را وارد کنید</h3>
        <div class="row">
            <div class="col-md-8">
                <form method="post" class="col-sm-8">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="code">
                    <br>
                    <button class="btn btn-success" type="submit">جست و جو</button>
                </form>
            </div>
            <div class="col-md-4">
                <a class="btn btn-outline-primary" href="{% url 'allcode' %}">لیست کل</a>
                <a class="btn btn-outline-success" href="{% url 'codeusage_new' %}">افزودن</a>
            </div>
        </div>

        <br>
        {% if usage %}
            <table class="table" dir="rtl" align="right">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <center>کد</center>
                    </th>
                    <th scope="col">
                        <center>سال</center>
                    </th>
                    <th scope="col">
                        <center>ماه</center>
                    </th>
                    <th scope="col">
                        <center>دعوت کننده</center>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for detail in usage %}
                    <tr>
                        <td>
                            <center>{{ detail.code }}</center>
                        </td>
                        <td>
                            <center>{{ detail.year_of_use }}</center>
                        </td>
                        <td>
                            <center>{{ detail.monthof }}</center>
                        </td>
                        <td>
                            <center>{{ detail.inviter }}</center>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        {% else %}
            <p class="alert alert-warning">کد مورد نظر شما توسط هیچ دعوت کننده ای گرفته نشده است</p>
        {% endif %}
    </div>
{% endblock %}