{% extends "base.html" %}
{% block content %}
    <div class="row" dir="auto">
        <form method="POST">
            {% csrf_token %}
            <FIELDSET class="form-group" style="text-align: center">
                <legend class="border-bottom mb-4" style="text-align: center">
                    حذف مرخصی روزانه
                </legend>
                <h3>آیا مطمئن هستید می خواهید مرخصی روزانه :</h3>
                <h2 style="float: right">"{{ object.inviter.first_name }} {{ object.inviter.last_name }}"</h2><br>
                <h3>را حذف کنید ؟</h3>

            </FIELDSET>
            <button class="btn btn-outline-danger" type="submit">بله, حذف شود</button>
            <a class="btn btn-outline-secondary" href="{% url 'dailyofftime_detail' object.id %}">خیر, منصرف شدم</a>
        </form>
    </div>
{% endblock %}