{% extends "base.html" %}
{% block content %}
    <div class="row mb-4" dir="rtl">
        <h3>
            جرمیه
            <small class="text-muted"> {{ object.inviter.first_name }} {{ object.inviter.last_name }}
            </small>
        </h3>
    </div>
    <div dir="rtl" style="float: right">
        <h4> مبلغ : {{ object.amount }}</h4>
        <h4> تاریخ : {{ object.date }}</h4>
        <h4> شرح جریمه :</h4>
        <p class="text-muted font-size-sm">{{ object.description }}</p>
        <a class="btn btn-outline-secondary" href="{% url 'penalty_list' object.inviter.id %}">
            بازگشت
        </a>
    </div>
{% endblock %}