{% extends 'base.html' %}
{% block content %}
    {% if object_list %}
        <h2 class="mb-4">
            <center>
                لیست پاداش
                های {{ object_list.first.inviter.first_name }} {{ object_list.first.inviter.last_name }}
            </center>
        </h2>
        <a class="btn btn-outline-secondary" href="{% url 'inviter_detail' object_list.first.inviter.id %}">بازگشت به
            صفحه کاربری {{ object_list.first.inviter.first_name }} {{ object_list.first.inviter.last_name }} </a>
        <table class="table" dir="rtl">
            <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <center>کاربر</center>
                </th>
                <th scope="col">
                    <center>تاریخ</center>
                </th>
                <th scope="col">
                    <center>مبلغ پاداش</center>
                </th>
                <th scope="col">
                    <center>جزئیات</center>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for reward in object_list %}

                <tr>
                    <td>
                        <center>{{ reward.inviter.first_name }} {{ reward.inviter.last_name }}</center>
                    </td>
                    <td>
                        <center>{{ reward.date }}</center>
                    </td>
                    <td>
                        <center>{{ reward.amount }}</center>
                    </td>
                    <td>
                        <center>
                            <a class="btn btn-outline-secondary" href="{% url 'reward_detail' reward.id %}">
                                جزئیات
                            </a>

                            <a class="btn btn-outline-primary" href="{% url 'reward_update' reward.id %}">
                                تغییر
                            </a>
                            <a class="btn btn-outline-danger" href="{% url 'reward_delete' reward.id %}">
                                حذف
                            </a>
                        </center>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-secondary">پاداشی وجود ندارد</p>
    {% endif %}
    </div>
{% endblock %}