{% extends "base.html" %}
{% load crispy_forms_tags %}
{%  block content %}
    <form method="POST">
        {% csrf_token %}
        <FIELDSET class="form-group">
            <legend class="border-bottom mb-4">
                ورود سرپرست
            </legend>
            {{ form|crispy}}
        </FIELDSET>
        <button class="btn btn-outline-info" type="submit">ورود</button>
        <small class="text-muted ml-2">
            <a href="{% url 'password_reset' %}">رمز خود را فراموش کردید ؟</a>
        </small>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            فقط مدیر مجموعه می تواند کاربر جدید اضافه کند
        </small>
    </div>
{%  endblock %}